<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <log4net debug="true">
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <file value="D:\Study\VironIT\Apps\Core2.1-WebAPI-Angular\ProductStoreApp-Core2.1-WebAPI-Angular\ProductStoreApp-Core-WebAPI\App.WebAPI\Logger\log.log" />
            <datePattern value="yyyy-MM-dd.'txt'"/>
            <staticLogFileName value="false"/>
            <appendToFile value="true"/>
            <rollingStyle value="Date"/>
            <maxSizeRollBackups value="100"/>
            <maximumFileSize value="15MB"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level App  %newline %message Properties: %n |RequestTime = %property{RequestTime}%n |RequestURI = %property{RequestURI}%n |RequestUserName = %property{RequestUserName}%n |RequestBody = %property{RequestBody}%n |RequestHeaders = %property{RequestHeaders}%n |RequestQueryString = %property{RequestQueryString}%n |RequestHttpVerb = %property{RequestHttpVerb}%n |ResponseTime = %property{ResponseTime}%n |RequestURI_r = %property{RequestURI_r}%n |ResponseUserName = %property{ResponseUserName}%n |ResponseHeaders = %property{ResponseHeaders}%n |ResponseStatusCode = %property{ResponseStatusCode}%n |ExceptionMessage = %property{ExceptionMessage}%n |StackTrace = %property{StackTrace}%n "/>
            </layout>
        </appender>

        <appender name="AdoNetAppender" type="MicroKnights.Logging.AdoNetAppender">
            <bufferSize value="1" />
            <connectionType value="System.Data.SqlClient.SqlConnection, System.Data" />
            <connectionStringName value="DefaultConnection" />
            <connectionStringFile value="appsettings.json" />

            <commandText value="INSERT INTO dbo.LogInfos (
                 [RequestTime],
                 [RequestURL],
                 [RequestUserName],
                 [RequestHeaders],
                 [RequestBody],
                 [RequestQueryString],
                 [RequestHttpVerb],
                 [ResponseTime],
                 [RequestURI_r],
                 [ResponseUserName],
                 [ResponseHeaders],
                 [ResponseStatusCode],
                 [ExceptionMessage],
                 [StackTrace])                  
                   VALUES (@RequestTime, 
                   @RequestURI, 
                   @RequestUserName,  
                   @RequestHeaders,
                   @RequestBody,
                   @RequestQueryString, 
                   @RequestHttpVerb,
                   @ResponseTime, 
                   @RequestURI_r, 
                   @ResponseUserName, 
                   @ResponseHeaders, 
                   @ResponseStatusCode, 
                   @ExceptionMessage, 
                   @StackTrace)" />

            <parameter>
                <parameterName value="@RequestTime" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawTimeStampLayout">
                    <conversionPattern value="%property{RequestTime}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@RequestURI" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{RequestURI}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@RequestUserName" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{RequestUserName}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@RequestHeaders" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{RequestHeaders}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@RequestBody" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{RequestBody}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@RequestQueryString" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{RequestQueryString}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@RequestHttpVerb" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{RequestHttpVerb}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@ResponseTime" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawTimeStampLayout">
                    <conversionPattern value="%property{ResponseTime}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@RequestURI_r" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{RequestURI_r}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@ResponseUserName" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{ResponseUserName}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@ResponseHeaders" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{ResponseHeaders}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@ResponseStatusCode" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{ResponseStatusCode}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@ExceptionMessage" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{ExceptionMessage}" />
                </layout>
            </parameter>

            <parameter>
                <parameterName value="@StackTrace" />
                <dbType value="String" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%property{StackTrace}" />
                </layout>
            </parameter>
        </appender>

        <root>
            <level value="ALL"/>
            <appender-ref ref="RollingLogFileAppender"/>
            <appender-ref ref="AdoNetAppender" />
        </root>

    </log4net>
</configuration>